

/*ESTILO GERAIS  */
body {

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1000px;
    background: #f2f2f2;

}

p {
    font-size: 20px;
}




/* MENU ESTILO */

#menu {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
    display: flex;
  justify-content: center;
  text-align: center;
}

.menulink{
    margin: 10px;
    background: white;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border: 10px;
    width: 90px;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;

}

#logo{
    display: flex;
    padding: 40px ;
    justify-content: center;
    align-items: flex-start;

}


/* GRADES ESTILO */


.grade1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr  1fr ;
    height: 500px;
    background: white;
    margin: 40px 150px;

}

.conteudo{
   display: grid;
  justify-items: end;  /* direita */
  margin: 30px;
}

/* TEXTO */


h1 {
  display: flex;
  width: 400px;
  height: 100px;
  font-size: 30px;
  margin-bottom: -30px;
}

.paragrafo1{
    display: grid;
    width: 540px;
    align-items: center;
    justify-self: flex-end; 
    margin: px;
}


/* CONTAINER DA IMAGEM */
.imagembike {
    display: grid;
 
  
}

/* IMAGEM */
.bicicleta {
   display: grid;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1/-1;
    grid-column: 2;
}

/* BOTÃO */
.vermais{
    display: flex;
    padding: 10px;
    background: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
    width: 130px;
    grid-row: 3;
    justify-self: flex-end; 
    align-items: center;
    justify-content: center;
  
}


.grade2{

    display: grid;
    grid-template-columns: 500px 500px;
    margin-top: -40px;
    width: ;
    justify-content: center;
 
}

.vantangens{
    display: grid;
    background: #c6c6c6;
    width: 782px;
    height: 500px

}

.vantagens-itens{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-right: 50px;

}

.direitos{
    display: block;
    background: red;
    height: 100%;
    width: 100%;
}

.vantagenstitulo {
    font-size: 64px;
    color: #c6c6c6;
}


/* MOBILE */
@media (max-width: 900px) {
  .grade1 {
    grid-template-columns: 2fr 1fr; /* texto maior, imagem menor */
  }

  .imagembike {
    min-height: 220px;
  }
}

@media (max-width: 400px) {
  .grade1 {
    grid-template-columns: 1fr; /* uma coluna */
  }

  .imagembike {
    min-height: 200px;
  }
}

