/* =========================
   RESET E CONFIGURAÇÕES GERAIS
   ========================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;

  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* =========================
   MENU
   ========================= */

#menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  padding: 0;
}

#menu li {
  list-style: none;
}

#menu a {
  display: inline-block;
  padding: 1rem;
  background: #ffffff;
  color: #000;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 4px solid transparent;
}

#menu a:hover {
  border-color: red;
}

/* =========================
   CONTEÚDO PRINCIPAL (GRID)
   ========================= */

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

/* =========================
   INFORMAÇÕES
   ========================= */

.informacoes {
  background: #ffffff;
  padding: 2.5rem;
  text-align: right;

  position: relative;
  display: grid;
  gap: 1.25rem;
  justify-items: end;
  justify-content: center;
}

.informacoes h2 {
  position: relative;
}

/* detalhe decorativo */
.informacoes h2::before {
  content: "";
  width: 2.5rem;
  height: 0.3rem;
  background: #e21;
  position: absolute;
  top: -1.25rem;
  right: -3.49rem;
}

/* =========================
   BOTÃO
   ========================= */
#botao {
  background: #e21;
  color: #fff;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25rem;
  text-transform: uppercase;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}


#botao:hover {
  background: rgba(255, 21, 0, 0.5);
}

/* =========================
   SUBTÍTULO
   ========================= */

.subtitulo {
  font-size: 4rem;
  color: #c6c6c6;
  text-transform: uppercase;
  text-align: right;

  padding: 2.5rem;
  justify-self: center;

  background-image: url("./img/onda.svg");
}

/* =========================
   VANTAGENS
   ========================= */

.vantagens {
  grid-column: 2;
  background: #ffffff;
  padding: 2.5rem;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 2.5rem;
}

.vantagens-itens p {
  grid-column: 2;
}

.vantagens-itens:hover {
  border-left: 4px solid red;
}

.vantagens-itens:nth-child(odd) {
  background: hsl(0, 0%, 97%);
}

/* =========================
   FOOTER
   ========================= */

footer {
  width: 100%;
  background: #f1f1f1;
  padding: 2.5rem;
  text-align: center;
}
